// ========================================
// colours
// ========================================

.bg-white {
	background-color: $white;
}

.bg-white-opaque {
	background-color: rgba($white, 0.7);
}

.bg-red {
	background-color: red;
}

.bg-yellow {
	background-color: $yellow;
}