<header id="header" class="">
    <div class="headerbar">
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand" >
                    <div class="brand-holder">
                        <a href="../../dashboards/dashboard.html">
                            <span class="text-lg text-bold text-primary">ROSIE LEE DIGITAL BLOG</span>
                        </a>
                    </div>
                </li>
                <!--  - ->
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">☰</a>
                </li>
                <!--  -->
            </ul>
        </div>
        <!--  - ->
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li>
                    <form class="navbar-search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
                        </div>
                        <button type="submit" class="btn btn-icon-toggle ink-reaction">⚲</button>
                    </form>
                </li>
            </ul>
        </div>
        <!--  -->
    </div>
</header>