<main id="content" class="main pam mlm">

    <section class="card mbm pas">
        <a target="_blank" href="http://www.smallvictori.es/ ">
        <h3>Small Victories</h3>
        <div class="card-inner">
            <p>Posted on Dec 15 2015 by Mark Boyce</p>
            <p>I’m also enjoying playing with this. Another one in Beta. Sign up for early access. It basically makes a website from a dropbox folder.</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://www.commonsans.com/">
        <h3>Common Sans</h3>
        <div class="card-inner">
            <p>Posted on Dec 15 2015 by Mark Boyce</p>
            <p>A typeface that replaces the word refugee with the word human.</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://padbury.me/clock/">
        <h3>Padbury</h3>
        <div class="card-inner">
            <p>Posted on Dec 15 2015 by Mark Boyce</p>
            <p>A Minimal Clock Screen Saver</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://www.carlkleiner.com/">
        <h3>Carl Kleiner</h3>
        <div class="card-inner">
            <p>Posted on Dec 15 2015 by Mark Boyce</p>
            <p>Photographer</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://hallointer.net/">
        <h3>hallointer</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://good-music.com/">
        <h3>good-music</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://www.quayola.com/">
        <h3>quayola</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://resn-experiments.tumblr.com/">
        <h3>resn-experiments</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://njla.us/">
        <h3>njla.us</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://www.newmoticons.com/">
        <h3>newmoticons</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>
    <section class="card mbm pas">
        <a target="_blank" href="http://aronfilkey.com/look_as_if">
        <h3>look as if</h3>
        <div class="card-inner">
            <p>Posted on Nov 19 2015 by Mark Boyce</p>
        </div>
        </a>
    </section>

</main>