<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="../dashboards/dashboard.html">
                <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">
        <ul id="main-menu" class="gui-controls">
            <li>
                <a href="#/home">
                    <div class="gui-icon"><i class="md md-home"></i></div>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a href="#/list">
                    <div class="gui-icon"><i class="md md-computer"></i></div>
                    <span class="title">List</span>
                </a>
            </li>
            <li>
                <a href="#/single">
                    <div class="gui-icon"><i class="md md-computer"></i></div>
                    <span class="title">Single Post</span>
                </a>
            </li>
        </ul>
        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
            </small>
        </div>
    </div>
</div>
