// ===========================================================
// screen sizes
// ===========================================================

$desktop : 1366px;
$tablet  : 1024px;
$mini 	 : 768px;
$mobile  : 480px;

// ===========================================================
// colours
// ===========================================================

$white  : #FFF;
$black  : #000;
$yellow : #EDE634;