// ===========================================================
// screen sizes
// ===========================================================

$desktop : 1366px;
$tablet  : 1024px;
$mini 	 : 768px;
$mobile  : 480px;

// ===========================================================
// colours
// ===========================================================

$white  : #FFFFFF;
$black  : #000000;

// ========================================
// this
// ========================================

$f_l  : 26px;
$f_m  : 18px;
$f_s  : 14px;