// ========================================
// custom
// ========================================

body{
    background-color: $grey;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.title {
    h1 {
        font-size: 2em;
        font-weight: 200;
        line-height: 95%;
    }

    p {
        font-size: .9em;
        font-weight: 100;
        line-height: 140%;
        color: $typegrey;
    }
}

.container {
    margin-left: 14.28%;
     @include breakpoint(tablet) {
        margin-left: 25%;
    }
    @include breakpoint(mini) {
        margin-left: 0;
        margin-top: 30px;
    }
    @include breakpoint(mobile) {
        margin-left: 0;
        margin-top: 30px;
    }
}

.box-item {
    background-color: white;
    border: solid 1px $grey;
}

.item-title, .item-link {
    font-weight: 100;
    line-height: 150%;
}

.item-title {
    font-size: 1.5em;
}

.item-link {
    color: $blue;
    font-size: 1em;
    a {
        display: inline-block;
        width: 22px;
        height: 18px;
        background: url(../../img/link.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
.item-instructions {
    color: $typegrey;
    font-style: italic;
    font-size: .9em;
    b {
        font-style: normal;
    }
    li {
        list-style-type: circle;
        list-style-position: inside;
        b {
            color: $blue;
            font-style: italic;
        }
    }
}

.ams {
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url(../../img/flag_netherlands.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.rate-wrap {
    background-color: white;
    li {
        padding: 40px 30px;
        border: solid 1px $grey;
    }
    b {
        font-size: 1.5em;
        font-weight: 100;
        line-height: 150%;
        color: $black;
        font-style: normal;
    }
    p {
        color: $typegrey;
        font-style: italic;
        font-size: .9em;
        display: inline-block;
    }
    a {
        display: inline-block;
        position: absolute;
        right: 30px;
        text-align: right;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 150%;
        padding-right: 30px;
    }
}
