// ========================================
// nav
// ========================================
.navwrap {
	padding: 2%;
}

.logowrap {

	img {
		width: 90px;
	}
}

nav {
	margin: 70px 0 18px 0;
	color: rgb(80,80,80);
	
	a {
		display: block;
		padding: 8px 0;
	}

	@include breakpoint(mobile) {
		background: pink;
	}
}

.navline {
	border-bottom: solid 1px rgb(220,220,220);
	width: 28px;
}


